<h1>Editing address</h1>

<%= render "form", address: @address %>

<br>

<div>
  <%= link_to "Show this address", @address, class:"btn btn-secondary" %> |
  <%= link_to "Delete this address", @address, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-danger" %>
  <%= link_to "Back to addresses", addresses_path, class:"btn btn-secondary" %>
</div>
