<h1>Addresses</h1>

  <table class="table table-sm table-striped table-bordered table-hover">
    <thead id="address" class="container text-center thead-dark">
      <tr>
        <% @addresses.columns.each do |column| %>
          <th class="align-middle"><%= column.name.titleize %></th>
        <% end %>
     </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <% address.attributes.each do |key, value| %>
            <% if key == 'id' %>
              <td class="align-middle"><%= link_to address.id, address %></td>
            <% else %>
              <td class="align-middle"><%=h value.to_s %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= link_to "New address", new_address_path, class:"btn btn-secondary" %>
