<%= render @address %>

<div>
  <%= link_to "Edit this address", edit_address_path(@address), class:"btn btn-secondary" %> |
  <%= link_to "Back to addresses", addresses_path, class:"btn btn-secondary" %>

  <%= link_to "Delete this address", @address, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class:"btn btn-danger" %>
</div>
